button {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-medium);
}

#moonLight,
#moonDark {
  padding: 10px 10px 10px 0;
}

@media screen and (max-width: 480px) {
  #moonLight,
  #moonDark {
    padding: 3px 3px 3px 0;
  }
}
