#filter {
  height: auto;
  width: 200px;
  box-sizing: border-box;
  position: absolute;
  top: 128px;
  right: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}

#buttonFilter {
  height: 56px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

#arrowOpen {
  transform: rotate(0deg);
  transition: ease-out 300ms;
}

#arrowClosed {
  transform: rotate(90deg);
  transition: ease-out 300ms;
}

#dropdownOpen {
  display: block;
}

#dropdownClosed {
  display: none;
}

ul {
  height: auto;
  width: 200px;
  padding: 0;
  border: 2px solid rgb(28, 28, 28);
  margin-block-start: 0;
  margin-block-end: 0;
  border-radius: 8px;
  background: white;
  box-sizing: border-box;
}

li {
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
  padding: 20px 30px;
  box-sizing: border-box;
  list-style: none;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 8px;
  transition: border-color 0.3s ease-out;
}

li:hover {
  border-color: rgb(196, 196, 196);
}

@media screen and (max-width: 860px) {
  #filter {
    top: 205px;
    right: 60px;
  }

  #buttonFilter {
    height: 48px;
  }

  li {
    font-size: 12px;
    height: 25px;
    padding: 15px 30px;
  }
}

@media screen and (max-width: 480px) {
  #filter {
    top: 185px;
    right: 28px;
  }

  #buttonFilter {
    height: 48px;
  }

  li {
    font-size: 12px;
    height: 25px;
    padding: 15px 30px;
  }
}
