#buttonBack {
  width: 136px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 80px;
}

@media screen and (max-width: 960px) {
  #buttonBack {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 480px) {
  #buttonBack {
    width: 110px;
    height: 35px;
  }
}
