#containerAll {
  height: 390px;
  padding: 128px 80px;
  width: 100%;
  max-width: 1500px;
  box-sizing: border-box;
}

#contents {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#flag {
  height: 401px;
  width: 560px;
}

#info {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: 117px;
}

.h2Info {
  font-size: var(--font-size-xlarge);
  margin-bottom: 23px;
}

.pInfo {
  font-size: var(--font-size-small);
  word-wrap: break-word;
  max-width: 600px;
  line-height: 32px;
  column-count: 2;
  column-gap: 117px;
  margin-bottom: 68px;
  padding: 0;
}

#borders {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#borderGrid {
  display: grid;
  grid-template-columns: repeat(3, 40px);
  column-gap: 70px;
  row-gap: 11px;
  grid-auto-rows: auto;
  padding-left: 20px;
}

.border {
  margin: 0;
  padding: 8px 30px;
  border-radius: 5px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pBorders {
  font-size: var(--font-size-xsmall);
}

.boldBorders {
  font-size: var(--font-size-small);
  margin-top: 5px;
}

@media screen and (max-width: 960px) {
  #containerAll {
    height: auto;
    padding: 115px 80px;
  }

  #contents {
    flex-direction: column;
  }

  #flag {
    height: auto;
    width: 60%;
  }

  #info {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }

  #borders {
    width: 100%;
    margin-top: 0;
  }

  #borderGrid {
    grid-template-columns: repeat(4, 40px);
    column-gap: 70px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 480px) {
  #containerAll {
    padding: 115px 16px;
  }

  #flag {
    width: 100%;
  }

  .h2Info {
    font-size: 22px;
    margin: 32px 0 16px;
  }

  .pInfo {
    font-size: var(--font-size-xsmall);
    word-wrap: break-word;
    line-height: 32px;
    column-count: 1;
    margin-top: 0;
    margin-bottom: 32px;
  }

  #info {
    align-items: flex-start;
    margin-left: 0;
  }

  #borders {
    flex-direction: column;
    align-items: flex-start;
  }

  #borderGrid {
    grid-template-columns: repeat(3, 40px);
    padding: 0;
  }

  .pBorders {
    font-size: 12px;
  }
}
