#containerHome {
  position: relative;
  padding: 128px 80px;
  height: fit-content;
  width: 100%;
  max-width: 1500px;
  box-sizing: border-box;
}

#grid {
  padding-top: 48px;
  display: grid;
  justify-content: space-between;
  width: 100%;
  grid-template-columns: repeat(4, 264px);
  column-gap: 75px;
  row-gap: 75px;
}

.gridItem {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}

#imgFlag {
  height: 160px;
  width: 100%;
}

.summary {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 24px;
}

.h2Home {
  font-size: var(--font-size-medium);
  padding-bottom: 16px;
  margin: 0;
}

.pHome {
  font-size: var(--font-size-xsmall);
  padding-bottom: 8px;
  margin: 0;
}

#errorMessage {
  padding-top: 30px;
}
