:root {
  font-family: "Nunito Sans", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --font-size-xlarge: 32px;
  --font-size-large: 24px;
  --font-size-medium: 18px;
  --font-size-small: 16px;
  --font-size-xsmall: 14px;

  --font-weight-bold: 800;
  --font-weight-medium: 600;
  --font-weight-light: 400;

  --main-bg-color-light: #f2f2f2;
  --main-text-color-light: #111517;
  --accent-bg-color-light: #ffffff;

  --main-bg-color-dark: #202c36;
  --main-text-color-dark: #ffffff;
  --accent-bg-color-dark: #2b3844;
}

#root {
  width: 100%;
  display: flex;
}

body,
.bodyLight,
.bodyDark {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: background-color 0.3s ease-out;
}

/* Fonts */
h1,
.h1Light,
.h1Dark {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
}

h2,
.h2Light,
.h2Dark {
  font-weight: var(--font-weight-bold);
}

p,
.pLight,
.pDark {
  font-weight: var(--font-weight-light);
}

.bold {
  font-weight: var(--font-weight-medium);
}

a {
  text-decoration: none;
}

::placeholder {
  opacity: 0.8;
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Buttons */

button,
.buttonLight,
.buttonDark {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 5px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-xsmall);
  font-weight: var(--font-weight-light);
  cursor: pointer;
  border: 2px solid transparent;
  transition: border-color 0.3s ease-out;
}

button:hover,
.buttonLight:hover {
  border-color: #474747;
}

button:hover,
.buttonDark:hover {
  border-color: #c4c4c4;
}

button:focus,
.buttonLight:focus,
button:focus-visible,
.buttonLight:focus-visible {
  border-color: #1c1c1c;
}

button:focus,
.buttonDark:focus,
button:focus-visible,
.buttonDark:focus-visible {
  border-color: #ffffff;
}

/* Other */
.bg2,
.bg2Light,
.bg2Dark {
  background: none;
}

.svgTheme,
.svgThemeLight,
.svgThemeDark {
  filter: none;
}

/* Color scheme */

@media (prefers-color-scheme: light), (prefers-color-scheme: no-preference) {
  h1,
  h2,
  p,
  ::placeholder,
  input,
  button,
  a {
    color: var(--main-text-color-light);
  }

  body {
    background: var(--main-bg-color-light);
  }

  .bg2,
  button {
    background: var(--accent-bg-color-light);
  }

  button:hover {
    border-color: #474747;
  }

  button:focus,
  button:focus-visible {
    border-color: #1c1c1c;
  }

  .svgTheme {
    filter: invert(0);
  }
}

@media (prefers-color-scheme: dark) {
  h1,
  h2,
  p,
  ::placeholder,
  input,
  button,
  a {
    color: var(--main-text-color-dark);
  }

  body {
    background: var(--main-bg-color-dark);
  }

  .bg2,
  button {
    background: var(--accent-bg-color-dark);
  }

  button:hover {
    border-color: #c4c4c4;
  }

  button:focus,
  button:focus-visible {
    border-color: #ffffff;
  }

  .svgTheme {
    filter: invert(100%);
  }
}

/* Theme */
.h1Light,
.h2Light,
.pLight,
.inputLight,
.inputLight::placeholder,
.buttonLight,
.aLight {
  color: var(--main-text-color-light);
}

.h1Dark,
.h2Dark,
.pDark,
.inputDark,
.inputDark::placeholder,
.buttonDark,
.aDark {
  color: var(--main-text-color-dark);
}

.bodyLight {
  background: var(--main-bg-color-light);
}

.bodyDark {
  background: var(--main-bg-color-dark);
}

.bg2Light,
.buttonLight,
.inputLight {
  background: var(--accent-bg-color-light);
}

.bg2Dark,
.buttonDark,
.inputDark {
  background: var(--accent-bg-color-dark);
}

.svgThemeLight {
  filter: invert(0);
}

.svgThemeDark {
  filter: invert(100%);
}
